
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Birthday</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in ViewBag.result)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Phone</td>
                        <td>@p.Birthday</td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</body>
</html>